<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.cscenter.fingerpaint">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".authentication.LoginActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.title.TitleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.title.TitleChooseUserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.games.OnlyOneGameActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.games.FiguresGameActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.games.Letters1GameActivity"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.games.Letters2GameActivity"
            android:theme="@style/AppBaseTheme" />
    </application>

</manifest>
